#
# Boot
#
d-i debian-installer/locale string en_US

#
# Lang
#
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/layoutcode string jp

#
# Network
#
d-i netcfg/disable_autoconfig boolean false
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string ubuntu
d-i netcfg/get_domain string local
d-i netcfg/wireless_wep string


#
# Timezone
#
d-i time/zone string Asia/Tokyo
d-i clock-setup/utc-auto boolean true
d-i clock-setup/utc boolean true

#
# System
#
d-i base-installer/kernel/override-image string linux-server
# Choices: Dialog, Readline, Gnome, Kde, Editor, Noninteractive
d-i debconf debconf/frontend select Noninteractive
d-i pkgsel/install-language-support boolean false
tasksel tasksel/first multiselect standard, ubuntu-server
d-i mirror/http/proxy string


#
# Disk
#
d-i partman-auto/method string lvm
d-i partman-auto/choose_recipe select atomic
d-i partman-auto-lvm/guided_size string max
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-lvm/device_remove_lvm boolean true
d-i partman/confirm boolean true
d-i partman/confirm_write_new_label boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman/choose_partition select finish

#
# User
#
d-i passwd/user-fullname string kotetsu
d-i passwd/username string kotetsu
d-i passwd/user-password password kotetsu
d-i passwd/user-password-again password kotetsu
d-i user-setup/encrypt-home boolean false
d-i user-setup/allow-password-weak boolean true

#
# Additional packages
#
d-i pkgsel/include string openssh-server ntp
# Allowed values: none, safe-upgrade, full-upgrade
d-i pkgsel/upgrade select full-upgrade

#
# Auto update policy
#
d-i pkgsel/update-policy select none

#
# Grub
#
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true

#
# Reboot
#
d-i finish-install/reboot_in_progress note
